In [1]:
import sys
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
genius_database = pd.read_csv('song_lyrics.csv')

In [3]:
spotify_database = pd.read_csv('spotify_data.csv')

In [5]:
genius_database.columns

Index(['title', 'tag', 'artist', 'year', 'views', 'features', 'lyrics', 'id',
       'language_cld3', 'language_ft', 'language'],
      dtype='object')

In [6]:
spotify_database.columns

Index(['Unnamed: 0', 'artist_name', 'track_name', 'track_id', 'popularity',
       'year', 'genre', 'danceability', 'energy', 'key', 'loudness', 'mode',
       'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [7]:
print(len(genius_database))
print(len(spotify_database))

5134856
1159764

In [9]:
import pandas as pd

# Standardize column names for joining
genius_database = genius_database.rename(columns={'artist': 'artist_name', 'title': 'track_name'})
spotify_database = spotify_database.rename(columns={'track_name': 'track_name', 'artist_name': 'artist_name'})

# Standardize string formatting for joining columns
genius_database['artist_name'] = genius_database['artist_name'].str.strip().str.lower()
genius_database['track_name'] = genius_database['track_name'].str.strip().str.lower()
spotify_database['artist_name'] = spotify_database['artist_name'].str.strip().str.lower()
spotify_database['track_name'] = spotify_database['track_name'].str.strip().str.lower()

# Merge datasets on artist_name and track_name
merged_database = pd.merge(
    genius_database, 
    spotify_database, 
    on=['artist_name', 'track_name'], 
    how='inner'
)

# Display the shape of the merged dataset
print(f"Merged dataset shape: {merged_database.shape}")

# Show the first few rows of the merged dataset
merged_database.head()

Merged dataset shape: (288417, 29)

,track_name,tag,artist_name,year_x,views,features,lyrics,id,language_cld3,language_ft,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,forgive me father,rap,fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4,en,en,...,-5.679,1,0.121,0.1520,0.000000,0.107,0.307,95.987,259973,4
1,fly in,rap,lil wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6,en,en,...,-5.868,1,0.322,0.0647,0.000001,0.123,0.496,180.992,143147,4
2,money on my mind,rap,lil wayne,2005,128927,{},"[Intro]\nYeah\nMoney on my mind, money on my m...",12,en,en,...,-6.503,0,0.370,0.0127,0.000000,0.110,0.661,152.173,271573,4
3,december 4th,rap,jay-z,2003,283714,{},[Produced by Just Blaze]\n\n[Intro: Gloria Car...,15,en,en,...,-3.374,1,0.237,0.0279,0.000000,0.380,0.495,89.256,272360,4
4,98 freestyle,rap,big l,2000,297788,{},"[Verse 1]\nYo, fuck all the glamours and glitz...",16,en,en,...,-12.100,0,0.753,0.4390,0.000000,0.327,0.907,175.763,129693,4

In [10]:
len(merged_database)

288417

In [11]:
merged_database.to_csv("1mergeddatabase",index=False)